/*Wildcard selector below taken as advice from the Love Running project https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+CSE101+2020_Q2/courseware/be0e510a3aca4bccb6e0bba4cf7cf06b/5de58e6393f84a958bc3342b8e4c987a/?child=first*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* The font below is a google font, credited in the README under Credits. The background colour was lifted from the Imperial War Museum's website, here: https://www.iwm.org.uk/visits/iwm-london/eat-drink*/
body {
    font-family: 'Roboto', sans-serif;
    color: #55555f;
    background-color: #e5e7e6;
}

/*-----------------------------------------------Header*/
/*--Originally I tried editing the height myself, but found it easier to rely on Bootstrap's default styling to dictate the size of the header at all screen sizes.--*/
/*The header is designed to stay responsive - it's a bootstrap feature, and the credit can be found in the README and in a comment on every page.*/

.navbarstyle {
    background-color: #ffffe6;
    font-weight: 800;
}

.propertyname {
    letter-spacing: 1px;
    font-size: 180%;
    padding-top: 8px;
    margin: 0;
}

/*-----------------------------------------------Buttons*/

/*Styling below was originally used to centre the button taken from "http://howtocenterincss.com/#contentType=div&container.width=100pct&horizontal=center&vertical=middle&browser.IE=11" Configuration in URL. I have kept it despite having moved the button, because it helps anchor the rest of the page in place on the index and find us pages*/

.button-centring {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

/* Code below was part of the efort to hold the original button in place; as it's no longer needed for that purpose, I have changed the name to holder-bar as it is still useful at holding the index and find us pages in place.*/
.holder-bar {
    position: relative;
    margin-right: 0;
}

/*--I have moved the button out of the header proper, but as I want it to sit just under the header near the top of every page on the site I have kept its styling in this section.--*/
.book-button {
    font-weight: 500;
    background-color: #0A122A;
}

/* The below code colours the buttons on the findus.html page's modal and contact form. As the modal form is borrowed for elsewhere, I have kept its name. */
.findus-button {
    background-color: #0A122A;
}

/*-----------------------------------------------Google map*/

.map-container {
    position: relative;
    right: 1rem;
    top: 1rem;
    float: right;
    display: block;
}

.map-container iframe {
    position: absolute;
    clear: both;
    width: 300px;
    height: 300px;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

/*-----------------------------------------------Background images*/

/*Some of the code for this part was taken from the Hero Image section of the Love Running project. I have edited it to fit. https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+CSE101+2020_Q2/courseware/be0e510a3aca4bccb6e0bba4cf7cf06b/83c6c94d55f44c79a3646810d80ce7a3/*/

/*The below keeps the background images where they should be. Each page has its own unique ID for its background image. All these images can be found in assets/images.*/

#index-background {
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clear: both;
    background-image: url("../images/backgroundimage.jpg");
}

#findus-background {
    background-image: url("../images/findusbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clear: both;
}

#facilities-background {
    background-image: url("../images/facilitiesbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clear: both;
}

#discover-background {
    position: relative;
    background-image: url("../images/discoverbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    clear: both;
}

#carousel-background {
    position: relative;
    background-image: url("../images/carouselbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    clear: both;
}

/*Padding:0 below gets rid of the annoying white space either side of the main section*/
.property-container {
    width: 100%;
    padding: 0;
}

.image-fill {
    height: 70vh;
}

/*The below is part of the effort to get rid of the gutters. */
.white-space-remove {
    margin: 0px;
}

/*-----------------------------------------------Banner*/

/* Minor elements of this banner were inspired by the website for Kelmscott Manor: https://www.sal.org.uk/kelmscott-manor/, mainly the height: 37vh styling.*/

.banner {
    position: relative;
    height: 37vh;
    display: block;
}

.title-box-position {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffe6;
}

.discover-handleigh {
    margin: 1rem;
}

/*-----------------------------------------------Content sections*/

.content-first-row {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

#graham-family-portrait-container {
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

#family-portrait {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto; 
}

.graham-family-history {
    padding-left: 30px;
    padding-right: 30px;
}

.content-third-row {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

#collection-photo-container {
    padding-bottom: 10px;
}

#collection-photo {
    margin: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

hr {
    border: 1px solid black;
}

.modal-content {
    position: relative;
    padding: 10px;
}

.w3-display-topright {
    position: absolute;
    top: 8px;
    right: 16px;
}

/*-----------------------------------------------Discover gallery*/

/* Gallery styling originally taken from W3C's css gallery example: https://www.w3schools.com/css/css_image_gallery.asp I have edited it from there. */

div.gallery {
    margin: 5px;
    float: left;
    width: 180px;
    border-radius: 50%;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

div.gallery img:hover {
    border: 1px solid #777;
  }

div.desc {
    padding: 15px;
    text-align: center;
  }

/*-----------------------------------------------Facilities gallery*/

.content-second-row {
    position: relative;
}

.facilities-gallery {
    text-align: center;
}

.facilities-gallery-top-line {
    position: relative;
    margin: auto;
    clear: both;
}

.facilities-gallery-top-line img {
    margin-top: 2px;
}

.facilities-gallery-bottom-line img {
    margin-top: 2px;
    margin-bottom: 2px;
}

/*The below styling prefixes are from https://autoprefixer.github.io/, full credits in README*/

.facilities-image:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/*-----------------------------------------------Contact form*/

/*This keeps our forms nice and neat. The margin and padding spacing is necessary to keep it from hugging the very edge of our text boxes.*/

.form-box {
    display: block;
    clear: both;
}

.form-group {
    margin: 10px;
    padding-bottom: 10px;
}

.submit-button-spacing {
    margin: 10px 0px 10px 10px;
}

/*-----------------------------------------------Footer*/

/*--Code from page-container, content-wrap and part of the footer taken from here: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ Keeping the footer at the bottom of the page was proving to be a nuisance. I have edited this code slightly.*/

/*All of the below is required to make sure the footer stays where it belongs. Media queries at the bottom of the css stylesheet keep it responsive at other screen sizes.*/

.page-container {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
#content-wrap {
    padding-bottom: 0rem;
  }

/* Much of the styling for the footer below is taken from https://www.mockplus.com/blog/post/bootstrap-4-footer-template. I have edited to fit. */

.footer {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    display: block;
    text-align: left!important;
    margin-top: 0!important;
    background-color: #0A122A!important;
    padding-top: 20px;
    color: #fff;
    clear: both;
}

.left-footer {
    position: relative;
    text-align: center;
}

/*This styles the charity number section, which is the middle bit of the footer.*/
.charity-number {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    float: bottom;
}

.right-footer {
    position: relative;
    text-align: center;
}

.contact {
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
}

.footer-element {
    height: inherit;
}

.email-link {
    color: #fff;
}

/*-----------------------------------------------Display specifications*/

.inline-block {
    display: inline-block;
}

.inline {
    display: inline
}

.block {
    display: block;
}

/*-----------------------------------------------Fontawesome Icons*/

.iconstyle i {
    color: #4F7CAC;
    font-size: 50px;
    padding: 30px 20px 0px 20px;
}

/*-----------------------------------------------Index page*/

.text-section {
    background-color: rgba(255, 255, 204, 0.8);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

/*-----------------------------------------------Index Carousel*/

/*The below makes sure the carousel behaves itself and aligns it nicely with the other elements of the page at all sizes.*/

.carousel-style {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.picture-container {
    height: 650px;
}

/* Prefixes/browser queries in the below code taken from https://autoprefixer.github.io/. Full credit in the README */

.picture-position {
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
}

/*-----------------------------------------------Facilities Carousel*/



.carousel-container {
    position: relative;
    margin: auto;
    width: 60vh;
    padding-left: 15px;
}

/* Prefixes/browser queries in the below code taken from https://autoprefixer.github.io/. Full credit in the README */

.carousel-size {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    clear: both;
    max-width: 100%;
    height: auto;
}


/*-----------------------------------------------Media queries*/

/*The below media query allows for a different styling at larger screen widths. The left quarter of the page has the information, while the rest of the background image remains visible.
The height is fairly arbitrary at present, and is the best medium between all the different pages of the site. As the information on each page grows, as it would for a working site,
different media queries may become necessary for individual pages.*/

@media screen and (min-width: 1200px) {
    
    .image-fill {
        float: right;
        width: 75%;
        height: 600px;
    }

    #discover-image-fill {
        float: right;
        width: 75%;
        height: 120vh;
    }

    #facilities-image-fill {
        float: right;
        width: 75%;
        height: 120vh;
        max-height: 110vh;
    }

    .footer {
        margin: 0;
    }
}

/*The below media query is only for the index page due to the carousel. The space below the carousel was entirely dead at everything from about 1450px to 1200px when the above media query kicked in.*/

@media screen and (min-width: 1450px) {
    
    #index-image-fill {
        float: right;
        width: 75%;
        height: 600px;
    }
}

/* The below is for mobile devices. The pictures in the carousel probably don't need the first rule, but keeping it there in case I need it again. The bottom one is still essential for now. */
@media screen and (max-width: 950px) {
    .smallscreen-picture-container {
        height: 50vh;
        }
    }

@media screen and (min-width: 1370px) {
    #facilities-image-fill {
        height: 90vh;
    }
}

/*Can the below be removed?*/
@media screen and (min-width: 1500px) {
    #facilities-image-fill {
        height: 90vh;
    }
}

    /*The below is to accomodate the discover page at extra-wide screen sizes. Without this, the footer gets jumbled as image-fill bleeds into it, even with responsive heights set.*/
@media screen and (min-width: 1575px) {
    #discover-image-fill {
        height: 90vh;
    }

    #facilities-image-fill {
        height: 80vh;
    }
}

/*The below code makes sure that even at the widest screen widths, structure is maintained.*/
@media screen and (min-width: 1650px) {
    #facilities-image-fill {
        height: 70vh;
    }
}

@media screen and (min-width: 720px) {
    .title-box-position {
        margin-left: 30px;
        margin-right: 50%;
    }
}

/*The below code allows the picture to stack above the accompanying text on the discover page second row.*/
@media screen and (max-width: 700px) {
    .content-first-row,
    .content-second-row,
    .content-third-row {
        display: inline-block;
    }

    .graham-family-history {
        margin-top: 10px;
    }
} 

/* The below code switches to a small google maps embed for small screen sizes */
@media screen and (max-width: 625px) {
    .map-large {
        visibility: hidden;
    }
}

/*The below code switches to a larger map size for larger screen sizes*/
@media screen and (max-width: 1225px) {
    .map-small {
        height: 300px;
        width: 330px;
    }
}

/* The below code makes Google maps not overflow onto the feedback form */
@media screen and (max-width: 1225px) and (min-width: 950px) {
    .map-container {
        overflow: hidden;
        height: 350px;
    }
}

/*The below code makes the facilities gallery images responsive*/
@media screen and (max-width: 600px) {
    .facilities-image {
        max-width: 100%;
        height: auto;
    }
}

/*The below code hides the book button in the header at small screen widths as the button below the carousel is clearly visible at the same time at these smaller sizes.*/
@media screen and (max-width: 525px) {
    .index-bar-button {
        visibility: hidden;
    }
    /* The below code makes sure the banners aren't too squashed on certain small devices on discover and facilities pages */
    .banner {
        height: 50vh;
    }
}

/*The below code centres the page headings in the dfrop-down nav menu*/
@media screen and (max-width: 985px) {
    .text-center {
        text-align: center;
        align-items: center;
    }
}