/*Wildcard selector below taken as advice from the Love Running project https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+CSE101+2020_Q2/courseware/be0e510a3aca4bccb6e0bba4cf7cf06b/5de58e6393f84a958bc3342b8e4c987a/?child=first*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #55555f
}

/*-----------------------------------------------Header*/
/*--Originally I tried editing the height myself, but found it easier to rely on Bootstrap's default styling to dictate the size of the header at all screen sizes.--*/
/*The header is designed to stay responsive - it's a bootstrap feature, and the credit can be found in the README and in a comment on every page.*/

.navbarstyle {
    background-color: #ffffe6;
    font-weight: 800;
}

.propertyname {
    letter-spacing: 1px;
    font-size: 180%;
    padding-top: 8px;
    margin: 0;
}

/*Styling for button below to centre the button taken from "http://howtocenterincss.com/#contentType=div&container.width=100pct&horizontal=center&vertical=middle&browser.IE=11" Configuration in URL*/

.button-centring {
    /* display:flex; */
    position: relative;
    /* float: right; */
    /* justify-content:center;
    align-items:center; */
    /* width: 90%; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    
}

/*--I have moved the button out of the header proper, but as I want it to sit just under the header near the top of every page on the site I have kept its styling in this section.--*/
.book-button {
    font-weight: 500;
    /* margin-top: 20px; */
    /* padding: 10px; */
}

.button-bar {
    /* width: 100%; */
    margin-right: 0;
}

/*-----------------------------------------------Background images*/

/*Some of the code for this part was taken from the Hero Image section of the Love Running project. I have edited it to fit. https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+CSE101+2020_Q2/courseware/be0e510a3aca4bccb6e0bba4cf7cf06b/83c6c94d55f44c79a3646810d80ce7a3/*/

/*The below keeps the background images where they should be. Each page has its own unique ID for its background image. All these images can be found in assets/images.*/

#index-background {
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    /* Below is a back-up background image; it's open-source, same as the others, and is taken from the Wikipedia article for Lodge Park https://en.wikipedia.org/wiki/Lodge_Park_and_Sherborne_Estate#/media/File:Lodge_Park,_Gloucestershire,_May_2016_side_view.jpg*/
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1f/Lodge_Park%2C_Gloucestershire%2C_May_2016_side_view.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clear: both;
    background-image: url("../images/backgroundimage.jpg");
}

#findus-background {
    background-image: url("../images/findusbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clear: both;
}

#facilities-background {
    background-image: url("../images/facilitiesbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clear: both;
}

#discover-background {
    position: relative;
    background-image: url("../images/discoverbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    clear: both;
}

#carousel-background {
    position: relative;
    background-image: url("../images/carouselbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    clear: both;
}

#booking-background {
    position: relative;
    background-image: url("../images/bookingbackground.jpg");
    background-color: #b3ffb3;
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    clear: both;
}


/*Padding:0 below gets rid of the annoying white space either side of the main section*/
.property-container {
    /* height: 75vh; */
    width: 100%;
    padding: 0;
}

.image-fill {
    height: 70vh;
}

/*The below was commented out in order to grant a different layout to large screen widths. Rather than delete this code, I have kept it in case a more uniform approach is desired by the site owners.*/
/* .image-window {
    height: 500px;
    clear: both;
}*/

/*The below is part of the effort to get rid of the gutters. */
.white-space-remove {
    margin: 0px;
}

/*-----------------------------------------------Banner*/

/* Minor elements of this banner were inspired by the website for Kelmscott Manor: https://www.sal.org.uk/kelmscott-manor/, mainly the height: 37vh styling.*/

.banner {
    position: relative;
    height: 37vh;
    display: block;
}

.title-box-position {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffe6;
    /* margin-left: 30px;
    margin-right: 30px; */
}

.discover-handleigh {
    margin: 1rem;
}

/*-----------------------------------------------Content sections*/

.content-first-row {
    margin-top: 30px;
    padding-left: 15px;
}

#graham-family-portrait-container {
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

#family-portrait {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto; 
}

.graham-family-history {
    padding-left: 30px;
}

/*-----------------------------------------------Discover gallery*/

/* Gallery styling originally taken from W3C's css gallery example: https://www.w3schools.com/css/css_image_gallery.asp I have edited it from there. */

div.gallery {
    margin: 5px;
    float: left;
    width: 180px;
    border-radius: 50%;
  }
  
/* div.gallery:hover {
    border: 1px solid #777;
  } */
  
div.gallery img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

div.gallery img:hover {
    border: 1px solid #777;
  }

div.desc {
    padding: 15px;
    text-align: center;
  }

/*-----------------------------------------------Contact form*/

/*This keeps our forms nice and neat. The margin and padding spacing is necessary to keep it from hugging the very edge of our text boxes.*/

.form-group {
    margin: 10px;
    padding-bottom: 10px;
}

.submit-button-spacing {
    margin: 10px;
}

/*-----------------------------------------------Footer*/

/*--Code from page-container, content-wrap and part of the footer taken from here: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ Keeping the footer at the bottom of the page was proving to be a nuisance. I have edited this code slightly.*/

/*All of the below is required to make sure the footer stays where it belongs. Media queries at the bottom of the css stylesheet keep it responsive at other screen sizes.*/

.page-container {
    position: relative;
    min-height: 100vh;
    /* min-width: 100vw; */
    margin: 0;
    padding: 0;
    border: 0;
  }
  
/* #content-wrap {
    padding-bottom: 0rem;
  } */

.footer {
    position: relative;
    clear: both;
    margin-top: auto;
    bottom: 0;
    /* width: 100%; */
    height: 20vh;
    background-color: #b3ecff;
    /* clear: right; */
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.left-footer {
    position: relative;
    text-align: center;
    margin-bottom: -16px;
    background-color: #b3ecff;
}

/*This styles the charity number section, which is the middle bit of the footer.
 The z-index is currently commented out rather than deleted, as earlier version of the footer had a problem with it being swamped by the contact details in smaller screen sizes.
 I've kept it here in case for whatever the problem returns and it needs to be put back in.*/
.charity-number {
    position: relative;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: -16px;
    background-color: #b3ecff;
    /* z-index: 2; */
    float: bottom;
}

.right-footer {
    position: relative;
    text-align: center;
    margin-bottom: -16px;
    background-color: #b3ecff;
}

.contact {
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
}

.footer-element {
    height: inherit;
}

/*The below has helped to eliminate some of the unnecessary white space and unalignment on the right of the page. With this in place, the footer at least lines up with the rest of the page.
Update: changing something in the main section meant all of this came out of alignment again, so this has been commented back out.*/
 /* .footer-padding {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}  */

/*-----------------------------------------------Fontawesome Icons*/

.iconstyle i {
    color: #36454f;
    font-size: 50px;
    padding: 30px 20px 0px 20px;
}

/*-----------------------------------------------Index page*/

.text-section {
    background-color: rgba(255, 255, 204, 0.8);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

/*-----------------------------------------------Carousel*/

/*The below makes sure the carousel behaves itself and aligns it nicely with the other elements of the page at all sizes.*/

.carousel-style {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.picture-container {
    height: 650px;
}

.picture-position {
    height: inherit;
    object-fit: cover;
}

/*-----------------------------------------------Media queries*/

/*The below media query allows for a different styling at larger screen widths. The left quarter of the page has the information, while the rest of the background image remains visible.
The height is fairly arbitrary at present, and is the best medium between all the different pages of the site. As the information on each page grows, as it would for a working site,
different media queries may become necessary for individual pages.*/

@media screen and (min-width: 1200px) {
    
    .image-fill {
        float: right;
        width: 75%;
        height: 600px;
    }

    #discover-image-fill {
        float: right;
        width: 75%;
        height: 120vh;
    }

    #facilities-image-fill {
        float: right;
        width: 75%;
        height: 120vh;
        max-height: 110vh;
    }

    /* .large-screen-text-position { */
        /* display: inline;
     } */

    .footer {
        margin: 0;
        float: center;
    }

    /* .button-container {
        margin-right: 380px;
        margin-top: -10px;
    } */
}

/*The below media query is only for the index page due to the carousel. The space below the carousel was entirely dead at everything from about 1450px to 1200px when the above media query kicked in.*/

@media screen and (min-width: 1450px) {
    
    #index-image-fill {
        float: right;
        width: 75%;
        height: 600px;
    }
}

/* The below is for mobile devices. The pictures in the carousel probably don't need the first rule, but keeping it there in case I need it again. The bottom one is still essential for now. */
@media screen and (max-width: 950px) {
    /* .smallscreen-picture-position { */
        /* object-fit: cover; */
        /* margin-left: 20px; */
    .smallscreen-picture-container {
        height: 50vh;
        }
    }

@media screen and (min-width: 1370px) {
    #facilities-image-fill {
        height: 90vh;
    }
}

/*Can the below be removed?*/
@media screen and (min-width: 1500px) {
    #facilities-image-fill {
        height: 90vh;
    }
}

    /*The below is to accomodate the discover page at extra-wide screen sizes. Without this, the footer gets jumbled as image-fill bleeds into it, even with responsive heights set.*/
@media screen and (min-width: 1575px) {
    #discover-image-fill {
        height: 90vh;
    }

    #facilities-image-fill {
        height: 80vh;
    }
}

/*The below code makes sure that even at the widest screen widths, structure is maintained.*/
@media screen and (min-width: 1650px) {
    #facilities-image-fill {
        height: 70vh;
    }
}

@media screen and (min-width: 720px) {
    .title-box-position {
        margin-left: 30px;
        margin-right: 50%;
    }
}

/*The below code allows the picture to stack above the accompanying text on the discover page second row.*/
@media screen and (max-width: 700px) {
    .content-first-row,
    .content-second-row {
        display: inline-block;
    }

    .graham-family-history {
        margin-top: 10px;
    }
} 